@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@700&display=swap');

html, body{
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif; 
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

input{
    color: #fff;
    padding-left: 15px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* navigation start */

.main{
    background: url(../pics/bg.png) no-repeat center;
    background-size: cover;
    height: 980px;
}

.header{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background-color: #857F77;
    height: 100px;
    align-items: center;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    padding-left: 162px;
    padding-right: 162px;
    width: 100%;
}

.header_nav_items{
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav_logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.header_nav_items{
    color: #FFF0DE ;
}

.nav_search{
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background-color: #B0A597;
}

.nav_search::placeholder{
    color: #fff;
}

/* navigation end */

/* main start */

.section-main{
    display: flex;
    padding-left: 162px;
    padding-right: 162px;
}

.section-main_items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 130px;
}

.section-main_arrow{
    display: flex;
    padding-left: 142px;
}

.section-main_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-main_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 90px;
    line-height: 113%;
}

.section-main_subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

/* main end */

/* popular start */

.popular{
    display: flex;
    color: black;
    padding-left: 162px;
    padding-right: 162px;
    padding-bottom: 85px;
    background: url(../pics/Subtract.png) no-repeat;
}

.popular_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 85px;
}

.popular_caption{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
}

.popular_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: #7C6F5F;
}

.popular_subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #7C6F5F;
}

.popular_books{
    display: flex;
    justify-content: space-between;
}

.popular_book{
    display: flex;
    gap: 30px;
}

.popular_ranobe{
    display: flex;
    width: 250px;
    height: 350px;
    background-color: #FFF0DE;
    border-radius: 15px;
}

.popular_desc{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.popular_books_2ndrow{
    display: flex;
    justify-content: space-between;
}

/* popular end */

/* recomendation start */

.recomendation{
    display: flex;
    background-color: #5E544B;
    padding-left: 162px;
    padding-right: 162px;
    padding-bottom: 85px;
}

.recomendation_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 85px;
}

.recomendation_caption{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
}

.recomendation_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    color: #fff ;
}

.recomendation_subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #C2C2C2;
}

.recomendation_books{
    display: flex;
    justify-content: space-between;
}

.recomendation_book{
    display: flex;
    gap: 30px;
}

.recomendation_ranobe{
    display: flex;
    width: 250px;
    height: 350px;
    background-color: #FFF0DE;
    border-radius: 15px;
}

.recomendation_desc{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 14px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.recomendation_books_2ndrow{
    display: flex;
    justify-content: space-between;
}

/* recomendation end */

/* genres start */

.genres{
    display: flex;
    padding-left: 162px;
    padding-right: 162px;
    padding-bottom: 85px;
    justify-content: flex-end;
    background-image: url(../pics/genres_bg.png), url(../pics/samurai.png);
    background-position: center, center left 162px;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    background-attachment: local, normal;
}

.genres_items{
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.genres_caption{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.genres_title{
    display: flex;
    color: #7C6F5F;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    padding-top: 40px;
}

.genres_subtitle{
    color: #7C6F5F;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.genres_tabs{
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.genre_tab{
    display: flex;
    width: 600px;
    height: 116px;
    background-color: #FFF0DE;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.genre_tab_text{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #000;
}

/* genres end */

/* footer start */

.footer{
    display: flex;
    background-color: #474039;
    padding-left: 162px;
    padding-right: 162px;
    height: 150px;
    align-items: center;
}

.footer_items{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer_social{
    display: flex;
    gap: 30px;
}

.footer_social_links{
    display: flex;
    gap: 30px;
}

.footer_papers{
    display: flex;
    gap: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.footer_papers a{
    color: #C9C9C9;
}

.footer_email{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #C9C9C9;
}

/* footer end */

@media (max-width: 1660px){
    .header_nav{
        padding-left: 50px;
        padding-right: 50px;
    }
    .section-main{
        padding-left: 50px;
        padding-right: 50px;
    }
    .popular{
        padding-left: 50px;
        padding-right: 50px;
    }
    .recomendation{
        padding-left: 50px;
        padding-right: 50px;
    }
    .genres{
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1400px){
    .popular_book{
        flex-direction: column;
        gap: 0;
        display: flex;
    }
    .popular_ranobe{
        margin: 0 auto;
    }
    .popular_desc{
        text-align: center;
    }

    .recomendation_book{
        flex-direction: column;
        gap: 0;
        display: flex;
    }
    .recomendation_ranobe{
        margin: 0 auto;
    }
    .recomendation_desc{
        text-align: center;
    }
}

@media (max-width: 1230px){
    .footer{
        height: 200px;
    }
    .footer_items{
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 960px){
    .book_del{
        display: none;
    }
    
    .main{
        height: 820px;
    }
    .section-main{
        text-align: center;
        justify-content: center;
    }
    .section-main_arrow{
       justify-content: center;
       padding: 0;
    }
    
    .popular{
        text-align: center;
    }
    .popular_books{
        justify-content: center;
        gap: 50px;
    }
    .popular_books_2ndrow{
        justify-content: center;
        gap: 50px;
    }

    .recomendation{
        text-align: center;
    }
    .recomendation_books{
        justify-content: center;
        gap: 50px;
    }
    .recomendation_books_2ndrow{
        justify-content: center;
        gap: 50px;
    }

    .genres{
        justify-content: center;
        text-align: center;
        background-position: center;
    }
    .genre_tab{
        width: 350px;
        margin: 0 auto;
    }

    .footer{
        height: 300px;
    }
    .footer_items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .footer_papers{
        flex-direction: column;
        gap: 10px;
    }
    .footer_social{
        flex-direction: column;
        gap: 10px;
    }
    .footer_social_links{
        justify-content: center;
    }
}

@media (max-width: 830px){
    .header_nav_items{
        gap: 30px;
    }
    .nav_search{
        width: 200px;
    }
}

@media (max-width:730px){
    .section-main_title{
        font-size: 50px;
    }
    .section-main_subtitle{
        font-size: 20px;
    }

    .popular_title{
        font-size: 50px;
    }
    .popular_subtitle{
        font-size: 20px;
    }
    .popular_desc{
        font-size: 20px;
    }
    .popular_ranobe{
        width: 200px;
        height: 300px;
    }
    
    .recomendation_title{
        font-size: 50px;
    }
    .recomendation_subtitle{
        font-size: 20px;
    }
    .recomendation_desc{
        font-size: 20px;
    }
    .recomendation_ranobe{
        width: 200px;
        height: 300px;
    }

    .genres_title{
        font-size: 50px;
    }
    .genres_subtitle{
        font-size: 20px;
    }
    .genre_tab_text{
        font-size: 20px;
    }
    .genre_tab{
        height: 100px;
        width: 300px;
    }
}

@media (max-width: 600px){
    .header_nav{
        padding-left: 5px;
        padding-right: 5px;
    }

    .section-main{
        padding-left: 5px;
        padding-right: 5px;
    }

    .popular{
        padding-left: 5px;
        padding-right: 5px;
    }

    .recomendation{
        padding-left: 5px;
        padding-right: 5px;
    }

    .genres{
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:500px){
    .header{
        height: 150px;
    }
    .header_nav{
        flex-direction: column;
        gap: 10px;
    }
    .header_nav_items{
        justify-content: center;
    }
    .header_logo{
        justify-content: center;
        text-align: center;
    }
    
    .popular_books{
        gap: 20px;
    }
    .popular_books_2ndrow{
        gap: 20px;
    }

    .recomendation_books{
        gap: 20px;
    }
    .recomendation_books_2ndrow{
        gap: 20px;
    }
}

@media (max-width: 440px){
    .book_del2{
        display: none;
    }

    .section-main_title{
        font-size: 40px;
    }
    .section-main_subtitle{
        font-size: 16px;
    }

    .popular_title{
        font-size: 40px;
    }
    .popular_subtitle{
        font-size: 16px;
    }
    .popular_desc{
        font-size: 16px;
    }

    .recomendation_title{
        font-size: 40px;
    }
    .recomendation_subtitle{
        font-size: 16px;
    }
    .recomendation_desc{
        font-size: 16px;
    }

    .genres_title{
        font-size: 40px;
    }
    .genres_subtitle{
        font-size: 16px;
    }
    .genre_tab_text{
        font-size: 16px;
    }
    .genre_tab{
        width: 250px;
        height: 80px;
    }
    .footer_email{
        font-size: 16px;
    }
    .footer_papers{
        font-size: 16px;
    }
}

@media (max-width: 330px){
    .recomendation_title{
        font-size: 30px;
    }
}